[report]
omit =

   */python?.?/*

   */site-packages/nose/*

   */__pycache__/*

   *.pyc
   *views.py

   */venv/*
   */app/__pycache__/*
   */app/.pytest_cache/*
   */.pytest_cache/*
   */__pycache__/*
   */venv/*
   */.vscode/*
   *pyc
   *python